version: '3.9'

services:
  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - dind

  dind:
    build:
      context: .
      dockerfile: Dockerfile.dind
    privileged: true
    container_name: dind
    ports:
      - "2375:2375"
    environment:
      DOCKER_TLS_CERTDIR: ""

volumes:
  jenkins_home: