version: '3.8'

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      DOCKER_HOST: tcp://dind:2375
      DOCKER_TLS_CERTDIR: ""   # отключаем TLS, чтобы было проще
    volumes:
      - jenkins_home:/var/jenkins_home
    depends_on:
      - dind

  dind:
    build:
      context: .
      dockerfile: Dockerfile.dind
    container_name: dind
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    volumes:
      - docker_data:/var/lib/docker

volumes:
  jenkins_home:
  docker_data: